/node_modules
/public/hot
/public/storage
/public/uploads
/public/js/app.js
/public/compiledCssAndJs
/storage/*.key
/storage/*
/storage/api-docs/api-docs.json
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode

yarn.lock
